.forgot-password-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.forgot-password-modal h2 {
    margin-bottom: 15px;
}
.forgot-password-modal input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.forgot-password-modal button {
    padding: 10px 15px;
    margin-right: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}
.forgot-password-modal button[type="button"] {
    background: gray;
}





